
<div class="meeting-container" style="background: #f5f6f8;">

  <div class="demos__main">
    <div class='app-calendar' *ngIf="calendarVisible">
      <full-calendar
      *ngIf="calendarOptions"
        #fullcalendar
        [editable]="true"
        [header]="calendarOptions.headerToolbar"
        (dateClick)="dateClick($event)"
        [plugins]="calendarOptions.plugins"
        (eventDragStop)="eventDragStop($event)"
        (eventRender)="eventRender($event)"
        [customButtons]="calendarOptions.customButtons"
        (eventClick)="eventClick($event.event)" 
        (datesRender)="datesRender($event)"
        [events]="calendarEvents"
        [themeSystem]="calendarOptions.theme"
        [defaultView]="calendarOptions.defaultView"
        [views]="calendarOptions.views">
      </full-calendar>
    </div>
  </div>
</div>

