.header-box-shadow {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  }
  

  .mat-button, .mat-icon-button, .mat-menu-item:focus {
    outline: none;
    box-shadow: none;
  }
  
  
  .circle {
    border-radius: 50%;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  

  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 57px;
  }
  

  .mat-toolbar.mat-primary {
    /* background: #bd103b; */
    color: #fff;
    border-left-style: solid;
    border-left-color: #c0a5a5;
    border-left-width: thin;
  }


  