<mat-toolbar color="primary" class="header-box-shadow">
  <button mat-icon-button (click)="panelRef.toggle()" fxShow.sm="true" fxShow.gt-sm="true">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button>
    <mat-icon class="mr-1">home</mat-icon>
    Upcoming
  </button>

  <span class="d-none d-sm-block">
    <button mat-button>
      <mat-icon class="mr-1">link</mat-icon>
      Link
    </button>
    <button mat-button>
      <mat-icon class="mr-1">link</mat-icon>
      Link
    </button>
    <button mat-button [matMenuTriggerFor]="dropDown">
      DropDown
      <mat-icon class="ml-1">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #dropDown="matMenu" overlapTrigger="false">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Dropdown Link 1</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Dropdown Link 2</span>
      </button>
    </mat-menu>
  </span>


  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="rolePicker">
    {{role}}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #rolePicker="matMenu">
    <button mat-menu-item *ngFor="let role of roles"
            (click)="onRoleChanged(role)">
      {{role}}
    </button>
  </mat-menu>
  
  <button mat-button [matMenuTriggerFor]="menu" class="d-none d-md-none d-lg-block d-xl-block">
    <mat-icon>account_circle</mat-icon>
    <span class="ml-2">Account</span>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="d-block d-sm-block d-md-block d-lg-none d-xl-none">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu" overlapTrigger="false">
    <button mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>My Account</span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item (click)="jwtAuth.signout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
  <mat-icon class="ml-3" title="Logout">exit_to_app</mat-icon>

</mat-toolbar>