  
  mat-sidenav {
    width: 250px;
  }

  .bottom-to-top {
    border: 0px;
    border-right: 0px;
    border-style: solid;
    border-image: linear-gradient(to top, #c1c1c1, rgba(0, 0, 0, 0)) 1 100%
  }
  

  .no-shadow {
    box-shadow: none !important;
  }

    
  .active {
    background-color: #bd103b;
  }
  
  .active a {
    color: white;
  }
  
  /* Profile picture block start */
  
  .user-heading {
    background: #bd103b none repeat scroll 0 0;
    border-radius: 0 0 0 0;
    color: #fff;
    padding: 15px;
    text-align: center;
  }
  
  .user-heading a img {
    border-radius: 50%;
    margin: auto auto 10px;
    display: block;
    height: 140px;
    width: 140px;
    border: 6px solid rgba(255, 255, 255, 0.3);
  }
  
  .user-heading h1 {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .user-heading p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
  }
  
  /* Profile picture block end */